.wrap-dashboard{
    .wrap-nav-menu{
        width: 300px;
        background-color: white;
    }
    .wrap-board{
        .title{
            font-size: 20px;
            margin: 30px;
        }
        .food-control{
            
        }
    }
    @include media-breakpoint-down(lg){
        .wrap-nav-menu{
            width: 100%;
        }
    }
}   