*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    overflow:hidden;
}


.header-logo{
    color: #ff0000;
    text-shadow: 1px 1px 1px #d0aeae;
    font-style: italic;
}

.main{
    width: 80%;
    margin: 0 auto;
}

.wrap-intro{
    margin-top: 20px;
  

    .title{
        margin: 20px 0;
    }
    
    .wrap-filter{
        display: flex;
        justify-content: space-between;
    }

}


.modal-styles{
    max-height: 600px;
    overflow-y:auto;
}

.wrap-payment{
    width: 60%;
    margin: 0 auto;

    .type-payment{
        
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bread-box{
    box-shadow: 0px 0px 3px 1px #c0c0c0;
    padding: 10px;
    margin: 5px;
}

.wrap-detail{
    display: flex;
    .group-images{
        text-align: center;
            img{
            margin: 3px;
            width: 600px;
            height: 400px;
        }
    }

    .btn-cart{
      
    }
}

@include media-breakpoint-down(lg){
    .wrap-full-mb{
        width: 100% !important;
    }

    .wrap-payment{
        width: 90%;
    }
}