*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    overflow:hidden;
}

.main{
    width: 80%;
    margin: 0 auto;
}

.wrap-intro{
    margin-top: 20px;
  

    .title{
        margin: 20px 0;
    }
    
    .wrap-filter{
        display: flex;
        justify-content: space-between;
    }

}



@include media-breakpoint-down(lg){
    .wrap-full-mb{
        width: 100% !important;
    }
}