*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{
    overflow:hidden;
}

.main{
    width: 80%;
    margin: 0 auto;
}

.wrap-intro{
    margin-top: 20px;
  

    .title{
        margin: 20px 0;
    }
    
    .wrap-filter{
        display: flex;
        justify-content: space-between;
    }

}


.modal-styles{
    max-height: 600px;
    overflow-y:auto;
}

.wrap-payment{
    width: 60%;
    margin: 0 auto;

    .type-payment{
        
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@include media-breakpoint-down(lg){
    .wrap-full-mb{
        width: 100% !important;
    }

    .wrap-payment{
        width: 90%;
    }
}