$color-primary: #E75521;
$color-secondary: #B2D334;
$color-three: #3D6E20;
$color-four: #FFF9D2;
$icomoon-font-family: "sst" !default;
$icomoon-font-path: "fonts" !default;

$sst-icon-cate: "\e900";
$sst-icon-d-left: "\e901";
$sst-icon-d-right: "\e902";
$sst-icon-down: "\e903";
$sst-icon-flag: "\e904";
$sst-icon-flash: "\e905";
$sst-icon-left: "\e906";
$sst-icon-list: "\e907";
$sst-icon-panel: "\e908";
$sst-icon-right: "\e909";
$sst-icon-search: "\e90a";
$sst-icon-star: "\e90b";
$sst-icon-view: "\e90c";

